.login {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 64px;
    max-width: 400px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
